<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watching Spot</title>
</head>
<body>
    <h1><%= ws.title %></h1>
    <h2><%= ws.location %></h2>
    <footer>
        <a href="/watchingspots/<%= ws._id %>/edit">Edit</a>
        <form action="/watchingspots/<%= ws._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/watchingspots">Back</a>
    </footer>
</body>
</html>